*{
    margin: 0px;
    box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: rgb(20, 20, 20);
  background-size: cover;
}

nav {
  font-size: 15px;
  background-color: rgb(20, 20, 20);
  font-family: monospace;
}

nav a:hover {
  -webkit-text-fill-color: rgb(255, 0, 0); 
}

.footer-icons img{
  height: auto;
  width: auto;
  max-height: 30px;
  margin: 15px;
  
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .column img{
  border: 3px solid rgb(215, 8, 8);
  border-radius: 4px;
  padding: 2px;
  justify-content: center;
}

.row .column img:hover{
  -webkit-filter: grayscale(100%) blur(3px);
filter: grayscale(100%) blur(3px);
}

.row h2{
  text-align: left;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  padding-top: 20px;
}

footer {
  background-color: rgb(10, 10, 10);
  text-align: center;
  padding: 10px;
  font-family: monospace;
  font-size: 6px;
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
}


iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}